* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
}



a {
    color: #0F4C75;
    font-weight: bold;
    border: none;
    background-color: rgb(247, 201, 52)
}

a:hover {
    background-color: #0F4C75;
    border-radius: 3px;
    color: whitesmoke;
    padding: 3px;
}


.app {
    background-color: #0F4C75;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgb(253, 201, 31);
}

.logout-btn {
    border: 2px solid #0F4C75;
    color: #0F4C75;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
}

.logout-btn:hover {
    background-color: #0F4C75;
    color: whitesmoke;
}


.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/manny-becerra-6dUcJdXlo7Q-unsplash.jpg);
    background-size: 34%;
    background-repeat: space;
    height: 100vh;
}

.auth-container>h1 {
    font-size: 2em;
    margin: 24px;
}

.auth-container>p {
    margin: 16px;
    text-decoration: underline;
}

.auth-container>form {
    border: 1px solid #3339;
    padding: 20px;
    border-radius: 5px;
    background-color: #aaa9;
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}

.auth-container>form>input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}

.auth-container>form>button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
}

.app-title {
    text-align: center;
    color: rgb(253, 201, 31);
    font-size: x-large;
    font-weight: bold;
}

.member-or-not {
    color: #00C3BF;
}

.sign-up-btn {
    background-color: rgb(253, 201, 31);
    color: black;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100%;
}

.profile>h1 {
    margin: 8px;
    font-size: 2em;
    text-align: center;
}

.profile>h3 {
    margin: 16px 0;
    text-decoration: underline;
    color: white;
}

.welcome-msg {
    color: white;
    margin-bottom: 5%;
}

.profile>form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    background-color: rgb(236, 236, 207);
    padding: 16px;
    border-radius: 5px
}

.profile>form>input,
.profile>form>button {
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #0F4C75;
    background-color: #0F4C75;
}

.profile>form>input {
    background-color: rgb(247, 201, 52);
}

.add-issue-form-header {
    text-align: center;
    color: #0F4C75;
    font-weight: bold;
    font-size: large;
}

.issues-list {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.user-issue-container {
    padding: 25px;
    background-image: linear-gradient(#a0cfee, #6ca7ce, #2770a0);
    border-radius: 10px;
    margin-bottom: 5%;
    border: 3px solid white;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.profile-issues-list-header {
    color: white;
    text-decoration: underline;
    margin-top: 45px;
    margin-bottom: 18px;
    font-size: 25px;

}

.issue-form {
    width: 25%;
}

.add-issue-btn {
    margin: 10px;
    background-color: #0F4C75;
    color: whitesmoke;
    font-weight: bold;
}

.my-profile-issue-tallies {
    display: flex;
    justify-content: center;
    background-color: #0F4C75;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 3%;
}

.my-issue-upvotes,
.my-issue-downvotes,
.my-issue-number-comments {
    font-style: italic;
    color: rgb(253, 201, 31);
    margin-left: 12px;
}

.my-issue-title,
.my-issue-descr {
    background-color: #0F4C75;
    color: white;
    padding-right: 15%;
}


.issue-title-mine,
.issue-description-mine {
    color: #0F4C75;
    border-radius: 5px;
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 17px;
}

.issue-title-mine-text,
.issue-description-mine-text,
.issue-title-text,
.issue-description-text {
    color: #0F4C75;
    background-color: whitesmoke;
    border-radius: 4px;
    margin-top: -1.5%;
    margin-bottom: 3%;
    padding: 12px;
    overflow-wrap: break-word;
}

.issue-title-text {
    margin-bottom: 15px;
}

.my-issue-title,
.my-issue-descr {
    border-radius: 4px;
    margin-left: 0;
}

.my-issue-title {
    padding: 5px 15px 4px 15px;
}

.my-issue-descr {
    padding: 5px 15px 4px 15px;
}


.edit-issue-form {
    display: flex;
    flex-direction: column;
}

.edit-issue-form input {
    width: 97%;
    margin-right: auto;
    margin-top: 8px;
    background-color: rgb(253, 201, 31);
    border-radius: 5px;
    padding: 3px;
}

.edit-issue-form-btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 2%;
}

.submit-issue-edit-btn {
    margin-top: 1%;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #0F4C75;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5.7px;
    font-size: 14px;
    width: 100px;
}

.cancel-issue-edit-btn {
    margin-top: 1%;
    width: 10%;
    border: none;
    border-radius: 5px;
    height: 26.5px;
    padding-top: 1px;
}

.edit-delete-issue-buttons {
    text-align: center;
}

.edit-del-btns-group {
    display: flex;
}

.issue {
    margin-bottom: -1%;
}

.delete-issue-btn {
    margin-top: 10px;
    margin-right: 10px;
    background-color: #0F4C75;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 14px;
    width: 108px;
}

.edit-issue-btn {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #0F4C75;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px;
    font-size: 14px;
    width: 108px;
}


.public {
    padding-bottom: 100%;
}

.all-issues-container {
    background-image: linear-gradient(#a0cfee, #6ca7ce, #2770a0);
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 40%;
    padding: 3.5% 4% 0 4%;
    border: 3px solid white;
}


.arrows {
    float: right;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1.5%;
    border-radius: 5px;
    border: 3px solid whitesmoke;
}

.title-public-page {
    text-align: center;
    color: white;
    font-size: 28px;
    margin-top: 2%;
}


.public-comments {
    display: flex;
    font-style: italic;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #0F4C75;
    color: white;
    border-radius: 5px;
    padding: 48px 8px 25px 8px;
    margin-top: -7%;
    margin-bottom: 5%;
}


.comment-span {
    color: rgb(253, 201, 31);
}

.public-issue-list {
    margin-top: 20px;
}

.comment-related-btns {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.eye-btn-pieces {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    align-items: center;
}

.see-comments-btn {
    background-color: white;
    color: #0F4C75;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 1px;
    padding: 10px 10px;
    width: 132px;
    transform: translateY(-100%);
    margin-left: 2px;
}

.hide-comments-btn {
    transform: translateY(-100%);
    margin-left: 2px;
    background-color: white;
    color: #0F4C75;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 2px;
    font-size: 12px;
    padding: 10px 10px;
    width: 132px;
}

.leave-comment-btn {
    transform: translateY(9%);
    margin: 0 5% 0 5%;
    background-color: #0F4C75;
    color: white;
    font-size: 80%;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 40px 10px 40px 10px;
    width: 174%;
}


.comment-form-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-left: -30px;
}

.submit-comment-button {
    background-color: #0F4C75;
    color: white;
    font-weight: bold;
    font-size: 11px;
    border-radius: 5px;
    border: none;
    padding: 2px;
    font-size: 12px;
    height: 40px;
    width: 90%;
    margin-left: 15%;
}

.cancel-comment-btn {
    margin-left: 10px;
    background-color: white;
    color: #0F4C75;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 2px;
    font-size: 12px;
    height: 40px;
    width: 90px;
}

.comment-form {
    display: flex;
    margin-top: 6px;
    margin-left: 15px;
}

.comment-form input {
    border: none;
    border-radius: 4px;
    margin-left: -15%;
    width: 108%;
    border: 3px solid #0F4C75;
    background-color: rgb(253, 201, 31);
    color: #0F4C75;
    padding: 8px;
}



.edit-comment-form input {
    border: none;
    border-radius: 4px;
    margin-top: 1%;
    border: 3px solid #0F4C75;
    background-color: rgb(253, 201, 31);
    color: #0F4C75;
    padding: 3px;
    width: 140%;
    margin-left: -22%;
}


.comment-edit-form {
    position: absolute;
    margin-top: 1.05%;
    margin-left: 22%;
}

.edit-comments-grp-btns {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-right: -22%;
}

.up-vote-btn {
    margin-top: 10px;
    margin-left: 2px;
    background: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    height: 40px;
    width: 60px;
    font-weight: bold;
    font-size: 12px;
}

.down-vote-btn {
    margin: 10px;
    background: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    height: 40px;
    width: 60px;
    font-weight: bold;
    font-size: 12px;
}

.cancel-vote-btn {
    margin: 10px;
    background-color: red;
    border-radius: 5px;
    padding: 5px;
    width: 90px;
    font-weight: bold;
    font-size: 14px;
}

.tallies {
    display: flex;
    flex-wrap: wrap;
    padding: 3.5% 3.5% 3.5% 2.2%;
    margin-bottom: 18px;
    background-color: #0F4C75;
    border-radius: 5px;
    font-style: italic;
}

.tallies-top {
    color: white;
}

.issue-title,
.issue-description {
    color: #0F4C75;
    border-radius: 3px;
    margin-top: 10px;
    font-style: italic;
    margin-bottom: 4px;
    font-size: 17px;
    padding-top: 4px;
    padding-bottom: 0px;
}


.title-issue,
.descr-issue {
    background-color: #0F4C75;
    color: white;
    border-radius: 4px;
}

.title-issue {
    padding: 5px 93.5% 5px 12px;
}

.descr-issue {
    padding: 5px 84% 5px 12px;
}


.total-upVotes,
.total-downVotes,
.net-votes,
.number-comments {
    margin-left: 10px;
}

.user-name-span-issue {
    color: rgb(253, 201, 31);
    font-style: italic;
}

.user-name-span-comment {
    color: rgb(253, 201, 31);
    font-weight: bold;
    margin-inline-end: 8px;
}

.posted-by {
    color: white;
    font-style: italic;
}

.name-posted-by {
    background-color: #0F4C75;
    border-radius: 5px;
    font-style: italic;
    width: 39%;
}

.total-votes,
.total-votes-public,
.total-upVotes,
.total-downVotes,
.net-votes,
.number-comments {
    font-weight: bold;
    color: rgb(253, 201, 31);
    font-style: italic;
}

.name-posted-by {
    padding-top: .75%;
}

.user-comments {
    background-color: #0F4C75;
    color: rgb(253, 201, 31);
    padding: 10px;
    border-radius: 10px;
}

.comment-vote-group-btns {
    display: flex;
    flex-direction: row;
}

.upvote-comment-btn,
.downvote-comment-btn {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
    border-radius: 5px;
    height: 25px;
}

.comment-votes-span {
    margin-left: 6px;
    color: rgb(253, 201, 31);
    font-style: italic;
}

.comment-tallies {
    color: white;
    font-style: italic;
    margin-left: 3px;
}

.comment-list-item {
    display: inline-flex;
    margin-top: 2%;
    margin-bottom: 10%;
}



.submit-edited-comment-btn {
    font-size: 12px;
    font-weight: bold;
    padding: 1.5px;
    border: none;
    margin-left: 5px;
    margin-top: 3px;
    background-color: white;
    color: #0F4C75;
    border-radius: 3px;
    width: 75px;
}

.cancel-edit-comment-btn {
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    border: none;
    background-color: white;
    color: #0F4C75;
    border-radius: 3px;
    margin-top: 2px;
    margin-left: 5px;
    width: 25%;
}


.delete-comment-btn,
.edit-comment-btn {
    font-size: 12px;
    font-weight: bold;
    padding: 1.5px;
    border: none;
    background-color: white;
    border-radius: 3px;
    margin-left: 5px;
    width: 45px;
}



@media screen and (max-width: 1495px) {
    .all-issues-container {
        width: 25%;
    }

    .leave-comment-btn {
        transform: translate(1%, 10%);
        margin: .5% .5%;
        padding: 8% 2% 2% 2%;
        width: 103%;
        height: 140%;
        font-size: 60%;
    }

    .title-issue,
    .descr-issue {
        padding-right: 5%;

    }


    .see-comments-btn {
        transform: translateY(.1%);
        padding: 4px 4px;
        margin-top: -2%;
        width: 35%;
        margin-bottom: 8%;
    }

    .arrows {
        transform: translate(-3%, 38%);
    }
}

@media screen and (max-width: 912px) {
    .auth-container {
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: -37%;

    }

    .auth-container>form {
        transform: translate(65%, 75%);
        /* background-color: rgba(209, 207, 207, 0.9); */
        background-color: rgba(186, 233, 251, 0.9);
        padding-bottom: 3%;
    }

    .auth-container>input {
        padding-top: -2%;
    }

    .auth-container>p {
        transform: translate(135%, 1050%);
        color: black;
    }

    .app-title {
        background-color: #0F4C75;
        width: 86%;
        font-weight: bold;
        font-size: large;
        margin-left: 3%;
        margin-bottom: 9%;
        padding: 6px;
        border-radius: 4px;
    }

    .all-issues-container {
        width: 50%;
    }

    .tallies-top {
        font-size: medium;
    }

    .name-posted-by {
        width: 95%;
        margin-bottom: 4%;
    }

    .see-comments-btn {
        width: 31%;
        transform: translateY(-25%);
    }

    .hide-comments-btn {
        width: 31%;
        transform: translateY(-45%);
        height: 50px;
        padding-top: 2px;
    }

    .public-comments {
        margin-top: 5%;
    }

    .comment-list-item {
        flex-basis: 109%;
        flex-wrap: wrap;
    }

    .leave-comment-btn {
        transform: translateX(24%);
        height: 125%;
        width: 80%;
        margin-top: 8%;
        font-size: small;
    }

    .comment-edit-form {
        position: relative;
        transform: translate(-12%, -12%);
    }

    .comment-edit-form input {
        width: 108%;
    }

    .submit-edited-comment-btn {
        width: 19%;
        font-size: xx-small;
    }

    .cancel-edit-comment-btn {
        width: 18%;
    }

    .edit-comments-grp-btns {
        transform: translate(23%, -115%);
        margin-bottom: -20%;
    }

    .arrows {
        transform: translate(12%, 20%);
    }


}

@media only screen and (max-width: 420px) {
    .all-issues-container {
        width: 65%;
    }


    .comment-list-item {
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .profile>form {
        width: 41%;
        border-radius: 10px;
    }

    .total-votes {
        width: 75%;
        text-align: center;
    }

    .total-upVotes {
        text-align: left;
    }

    .my-issue-upvotes {
        width: 35%;
    }

    .leave-comment-btn {
        width: 94%;
        margin-left: -12%;
        height: 165%;
    }

    .arrows {
        margin-top: 10%;
        margin-left: -2%;
    }

    .name-posted-by {
        width: 100%;
        margin-bottom: 4%;
    }

    .cancel-issue-edit-btn {
        width: 20%;
    }

    .edit-issue-form input {
        width: 92%;
    }

    .comment-form {
        transform: translate(-30%, 45%)
    }

    .comment-form input {
        padding: 6px;
        width: 105%;
    }

    .submit-comment-button {
        width: 200%;
        font-size: x-small;
        height: 30px;
        margin-left: 8.5%;
    }

    .cancel-comment-btn {
        width: 100px;
        height: 30px;
    }

    .arrows {
        transform: translate(10%, -2%);
    }

    .hide-comments-btn {
        transform: translateY(-25%);
        width: 90px;
    }

    .comment-edit-form input {
        width: 82%;
        font-size: small;
        height: 105%;
    }

    .comment-edit-form {
        position: relative;
        margin-bottom: -37%;
        margin-left: 14%;
    }

    .submit-edited-comment-btn {
        width: 20%;
        font-size: xx-small;
    }

    .cancel-edit-comment-btn {
        width: 18%;
    }

    .edit-comments-grp-btns {
        transform: translate(-3%, -108%);
    }

    .public-comments-container {
        margin-top: 12%;
    }

    .see-comments-btn {
        transform: translateY(-10%);
        width: 37%;
    }

    .issue-title-mine-text,
    .issue-description-mine-text {
        margin-top: -5.95%;
    }

    .auth-container {
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: -51%;

    }

    .app-title {
        color: rgb(253, 201, 31);
        background-color: #0F4C75;
        width: 107%;
        font-weight: bold;
        font-size: large;
        margin-left: -7%;
        margin-bottom: 9%;
        margin-top: -5%;
        padding: 5.5px;
        border-radius: 4px;
    }

    .auth-container>form {
        width: 22%;
        height: 18%;
        background-color: rgba(186, 233, 251, 0.9);
        transform: translate(70%, 67%);
        padding-bottom: 12%;
    }

    .auth-container>form>input {
        font-size: small;
        width: 100%;
        margin-left: -8%;
        margin-top: -6%;
    }

    .auth-container>form>button {
        font-size: small;
        width: 114%;
        margin-left: -7%;
        margin-top: -6%;
    }

    .auth-container>h1 {
        font-size: 1.3em;
        transform: translateY(60%);
    }

    .auth-container>p {
        font-size: small;
        transform: translate(100%, 650%);
        color: black;
    }
}